body {
    margin: 0px;
	padding: 0px;
	color: #000080;	/*全体の文字色*/
	font-family: "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	/*フォント種類*/
	font-size: 14px;	/*文字サイズ*/
	line-height: 2;		/*行間*/
	background: #c8d1b6;	/*背景色*/
	-webkit-text-size-adjust: none;
}
h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form,figure,form {margin: 0px;padding: 0px;font-size: 100%;}
ul {list-style-type: none;}
ol {padding-left: 40px;padding-bottom: 15px;}
img {border: none;max-width: 100%;height: auto;vertical-align: middle;}
a:hover img {opacity: 0.6}
table {border-collapse:collapse;font-size: 100%;border-spacing: 0;}
iframe {width: 100%;}

a {
	color: #767164;	/*リンクテキストの色*/
	-webkit-transition: 0.5s;	/*マウスオン時の移り変わるまでの時間設定。0.5秒。*/
	transition: 0.5s;			/*同上*/
}
.saisei-hover {
	/*border: 5px solid #767164;*/
    text-shadow: 5px 5px 1px #999999;
}


#saisei{
            position:relative;
            height:900px;
            width:80%;
            max-width:1000px;
            background:#c8d1b6;
            margin:auto;
            border-radius: 10px;
        }
.saisei-head, .saisei-head-logo, .saisei-main, .saisei-main-home,
        .saisei-main-gallery, .saisei-foot, .saisei-contents,
        .saisei-main-about{
            position:absolute;
        }
        .saisei-head{
            top:0;
            left:4em;
            right:4em;
            height:12em;
            border-radius: 10px;
        }
        .saisei-head-logo{
            top:0.2em;
            left:0;
            right:0;
            height:2.4em;
            background: #3a8104 url("../images/ui-bg_highlight-soft_33_3a8104_1x100.png") 92% 8% repeat-x;
            text-align:left;
            text-indent:1em;
            font-size:400%;
            text-shadow: 5px 5px 1px #999999;
            font-style:italic;
            color:#fffac0;
            border-radius: 10px;
        }
        .saisei-main{
            top:18em;
            left:4em;
            right:4em;
            height:47.5em;
            background:#eee;
            border-radius: 10px;
            border: 5px solid #767164;
        }
        .saisei-main-contents{
            top:0;
            left:0;
            right:0;
            height:100%;
            background:#eee;
            border-radius: 10px;
        }
        .saisei-foot{
            clear: both;
            top:66em;
            left:4em;
            right:4em;
            height:4em;
            text-align:center;
            border-radius: 10px;
        }